<!-- Validation failure messages -->
<% if @college.errors.any? %>
  <% @college.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add College</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_college" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for college_name -->
      <div class="form-group">
        <label for="college_name" class="control-label">
          College name
        </label>

        <input type="text" id="college_name" name="college_name" placeholder="College name" class="form-control" value="<%= @college.college_name %>">
      </div>

      <button class="btn btn-success">
        Create College
      </button>
      or
      <a href="/colleges">Cancel</a>
    </form>
  </div>
</div>
